body{
  font-family: cursive;
}
h1{
  text-align: center;
  color: #01d28e;
  margin-bottom: 50px;
}
.gallery{
  margin: 10px,50px;
}

.img1{
  height: 230px;
  width: 230px;
  padding: 10px;
  filter: brightness(50%);
  transition: 1s;
  }
  .gallery img:hover{
    filter: brightness(100%);
    transform: scale3d(1.1);
    transform: scale(1.1);
  }
  .img2{
    height: 200px;
    width: 200px;
    }
