
.slide-container{
  position: relative;
}
.image{
  width: 100%;
  height: 350px;

}
.effect{
  animation-name: effect;
  animation-duration:1s;
}
@keyframes effect{
  from{
    opacity:0.3;
  }
  to{
    opacity:1;
  }
}
.dot-container{
  text-align:center;
}
span{
  border-radius:50%;
  height:15px;
  width: 15px;
  background-color: #9ecfd1;
  display:inline-block;
}
.active{
  background-color:#faf5e4;
}
